<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test_</title>
    <style>
        .ysa{
            width:200px;
            height: 60px;
            background: darkblue;

        }
        .ysb{
            width:200px;
            height: 60px;
            background: white;

        }
        .ysc{
            width:200px;
            height: 60px;
            background: red;

        }
    </style>
</head>
<body>
    <div class="ysa"></div>
    <div class="ysb"></div>
    <div class="ysc"></div>


</body>
</html>