<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>悬停菜单</title>
    <style>
        .box1{
            width: 100px;
            height: 300px;
            padding: 40px ;
            border:10px  solid red;
            background-color: aqua;
            margin:auto;
            }
        .box2{
            width: 100px;
            height: 100px;
            background-color: #ee6600;
            margin-top: 80px;
        }
        .box3{
            width: 80%;
            height: 90%;
            background-color: green;
        }

    </style>
</head>
<body>

<div class = "box1">
    <div class="box3"></div>



</div>
<div class="box2">


</div>

</body>
</html>


