<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <style>
    .situation{
        width:300px;
        height:200px;
        background: cadetblue;
    }
    .neibu{
            width: 150px;
            height: 40px;
            color: black;
            background: #008800;
            position: relative;
            margin:40px 30px ;
            font-weight: bold;
            text-align: center;
            line-height: 40px;

            }


    </style>

</head>
<body>
<div class="situation">
    <div class="neibu"><a href="hyper1.html">发电机1号</a></div>
</div>
</body>
</html>